<html xmlns="http://www.thymeleaf.org">

<body>
	<h1>
		<b>工号为:</b>
		<b th:text="${teacherId}" />
		<b> 的老师能管理的班级</b>
	</h1>
	<fieldset>
		<legend>添加班级</legend>
		<form th:action="@{/teacherPowerToClass/insert(teachId=${teacherId},className=${powerToClass.className})}" th:object="${powerToClass}"
			method="post">
			<label>添加教师能管理的班级:</label>
			<select th:field="*{className}">
				<option th:each="clazz:${classList}" th:value="${clazz.className}" th:text="${clazz.className}"></option>
			</select>
			<p />
			<input type="submit" value="提交">
		</form>
	</fieldset>

	<fieldset>
		<table>
			<tr>
				<th>工号</th> <!--  -->
				<th>能管理的班级</th>
				<th>删除</th>
			</tr>
			<tr th:each="power:${powerToClassList}">
				<td th:text="${power.teacherId}">null</td>
				<td th:text="${power.className}">null</td>
				<td><a
						th:href="@{/teacherPowerToClass/delete(className=${power.className},teacherId=${power.teacherId})}">删除</a>
				</td>
			</tr>
		</table>
	</fieldset>
	<p />
	<a th:href="@{/teacherPowerToClass/index}">教师权限管理</a>
</body>

</html>
