<html xmlns="http://www.thymeleaf.org">
<style>
	.error {
		color: red;
	}

</style>

<body>
	<h1>教师信息管理</h1>

	<fieldset>
		<legend>search</legend>
		<div class="error">
			<span th:if="${powerExist}" th:text="${powerExist}"></span>
		</div>
		<table>
			<tr>
				<th>教师工号</th>
				<th>姓名</th>
				<th>院</th>
				<th>系</th>
				<th>该教师能管理的班级</th>
				<th>删除</th>
				<th>教师留言</th>
				<th>管理员留言</th>
				<th>修改留言</th>
			</tr>
			<tr th:each="t:${teacherInfoList}">
				<td th:text="${t.teacherId}">
				<td th:text="${t.teacherName}">
				<td th:text="${t.college}">
				<td th:text="${t.faculty}">
				<td><a th:href="@{/teacherPowerToClass/{teacherId}(teacherId=${t.teacherId})}">查看</a></td>
				<td><a th:href="@{/teacherInfo/delete/{teacherId}(teacherId=${t.teacherId})}">删除</a></td>
				<td th:text="${t.wantToManageClass}">
				<td th:text="${t.adminMessage}">
				<td>
					<form th:action="@{/teacherInfo/updateAdminMessage(teacherId=${t.teacherId})}" th:object="${teacher}"
						method="post">
						<textarea th:field="*{adminMessage}" placeholder="修改管理员留言" required></textarea>
						<input type="submit" value="修改">
					</form>
				</td>
		</table>
	</fieldset>

	<fieldset>
		<legend>insert</legend>
		<span style="color: red;" th:text="${userExist}" th:if="${userExist}">
		</span>
		<form th:action="@{/teacherInfo/fixTheFaculty}" th:object="${college}" method="post">
			<label>选择学院</label>
			<select th:field="*{id}">
				<option th:each="c:${collegeList}" th:value="${c.id}" th:text="${c.college}">
			</select>
			<input type="submit" value="确定">
		</form>

		<form th:action="@{/teacherInfo/insert/{collegeId}(collegeId=${collegeId})}" th:object="${teacher}" method="post">
			<label>选择系</label>
			<select th:field="*{faculty}">
				<option th:each="faculty:${facultyList}" th:value="${faculty.faculty}" th:text="${faculty.faculty}">
			</select>
			<p />
			<lable>请添加工号：</lable>
			<input type="text" maxlength="12" minlength="12" th:field="*{teacherId}" placeholder="12位数字" required>
			<p />
			<label>教师姓名:</label>
			<input type="text" placeholder="name" th:field="*{teacherName}" required>
			<p />
			<input type="submit" value="提交">
		</form>
	</fieldset>
	<a th:href="@{/admin/index}">返回管理员主页</a>
</body>

</html>
